#
# Additional files for source distribution
#
include README.md LICENSE *.txt *.ini
recursive-include tests *.py *.spec *.ini
recursive-include docs Makefile *.bat *.conf *.css *.html *.py *.rst *.tmp
