#
# Additional files for source distribution
#
include *.md *.rst *.txt *.ini *.py LICENSE .travis.yml .coveragerc .env
recursive-include src/tests *.py *.spec *.ini
recursive-include docs Makefile *.bat *.conf *.css *.html *.py *.rst *.txt
prune docs/_build
